<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="required field">
    <%= f.label :agent_id %>
    <%= f.text_field :agent_id %>
  </div>
  <% if @lead.new_record? -%>
    <% if current_user %>
      <div class="required field">
        <%= f.label :contact_id %>
        <%= f.select :contact_id, [["<Add a New Contact>",""]] + Contact.no_lead.collect {|c| [c.name, c.id] } %>
      </div>
    <% end -%>
    <%= fields_for :contact, @contact do |c| %>
      <div id="contact_form">
        <fieldset>
          <legend>New Contact</legend>
          <%= render :partial => "contacts/contact", :locals => {:f => c} %>
        </fieldset>
      </div>
    <% end -%>
  <% else -%>
    <dl>
      <dt><b>Contact</b></dt>
      <dd><%= @lead.contact.try(:name) %></dd>
    </dl>
  <% end -%>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
