<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @lead.new_record? -%>
    <% if current_user %>
      <div class="required field">
        <%= f.label :contact_id %>
        <%= f.select :contact_id, [["<Add a New Contact>",""]] + Contact.no_lead.collect {|c| [c.name, c.id] } %>
      </div>
    <% end -%>
    <%= fields_for :contact, @contact do |c| %>
      <div id="contact_form">
        <fieldset>
          <legend>New Contact</legend>
          <%= render :partial => "contacts/contact", :locals => {:f => c} %>
        </fieldset>
      </div>
    <% end -%>
  <% else -%>
    <table>
      <tr><th>Agent:</th><td><%= @lead.agent.try(:name) %></td></tr>
      <tr><th>Contact:</th><td><%= @lead.contact.try(:name) %></td></tr>
    </table>
    <div>
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>
  <% end -%>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note, :style => "height:8em;width:540px;vertical-align:top;" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
